<%- include("./../../html/open.ejs") %>

<%- include("./../../components/navbar.ejs") %>

    <div class="container">

        <nav class="mt-5 mb-4">
            <a href="/app/categorias/nova" class="btn btn-success">cadastrar nova</a>
        </nav>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nome</th>
                    <th scope="col">slug</th>
                    <th scope="col">opção</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((category) => { %>
                    <tr>
                        <th scope="row"><%= category.id %></th>
                        <td><%= category.title %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <nav>
                                <a href="/app/categorias/deletar" class="btn btn-danger">
                                    <img src="/img/delete-icon.svg" width="15px" alt="Deletar">
                                </a>
                            </nav>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include("./../../html/close.ejs") %>