<%- include("./../../html/open.ejs") %>

<%- include("./../../components/navbar.ejs") %>

    <div class="container">

        <nav class="mt-5 mb-4">
            <a href="/app/categorias/nova" class="btn btn-success">cadastrar nova</a>
        </nav>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">nome</th>
                    <th scope="col">slug</th>
                    <th scope="col">opção</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach((category) => { %>
                    <tr>
                        <th scope="row"><%= category.id %></th>
                        <td><%= category.title %></td>
                        <td><%= category.slug %></td>
                        <td>
                            <nav>
                                <a href="/app/categorias/deletar/<%= category.id %>" data-categname="<%= category.title %>" class="btn btn-danger btn-delete">
                                <img src="/img/delete-icon.svg" width="15px" alt="Deletar" onclick="(event) => event.stopPropagation()">
                                </a>
                                <a href="/app/categorias/editar/<%= category.id %>" class="btn btn-info">
                                    <img src="/img/edit-icon.svg" width="15px" alt="Deletar">
                                </a>
                            </nav>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include("./../../html/close.ejs") %>

<script>

    let deleteButtons = document.querySelectorAll(".btn-delete")

    Array.from(deleteButtons).forEach(
        (button) => {
            button.addEventListener ("click", (event) => {

                event.preventDefault()
                let catName
                let href

                if (event.target.localName === "img")
                {
                    catName = event.target.parentElement.dataset.categname
                    href = event.target.parentElement.href
                }
                else
                {
                    catName = event.target.dataset.categname
                    href = event.target.href
                }

                const confirm = window.confirm("Deseja realmente deletar a categoria \"" + catName + "\"?")

                if (confirm)
                {
                    window.location.href = href
                    return
                }
            })
        }
    )

</script>